<!-- src/app/admin/admin-dashboard/admin-dashboard.component.html -->
<div class="admin-shell">

  <!-- TOPBAR ADMIN -->
  <header class="admin-header shadow-sm">
    <div class="brand">
      <div class="brand-logo">
        TIM
      </div>
      <div class="brand-text">
        <span class="brand-title">Administrador</span>
        <span class="brand-subtitle">Transporte Interprovincial Miranda</span>
      </div>
    </div>

    <nav class="admin-nav">
      <a
        routerLink="/admin/viajes"
        routerLinkActive="active"
        class="nav-pill"
      >
        Viajes
      </a>

      <a
        routerLink="/admin/boletos"
        routerLinkActive="active"
        class="nav-pill"
      >
        Boletos
      </a>

      <a
        routerLink="/admin/pasajeros"
        routerLinkActive="active"
        class="nav-pill"
      >
        Pasajeros
      </a>

      <button class="btn-logout" routerLink="/auth">
        Salir
      </button>
    </nav>
  </header>

  <!-- CONTENIDO -->
  <main class="admin-main">
    <router-outlet></router-outlet>
  </main>
</div>
