<nav class="navbar navbar-dark bg-dark px-3">
  <span class="navbar-brand mb-0 h1">
    Administrador - Transporte Interprovincial Miranda
  </span>

  <div class="d-flex gap-2">
    <a routerLink="/admin/viajes" class="btn btn-outline-light btn-sm">Viajes</a>
    <a routerLink="/admin/boletos" class="btn btn-outline-light btn-sm">Boletos</a>
    <a routerLink="/admin/pasajeros" class="btn btn-outline-light btn-sm">Pasajeros</a>
    <button class="btn btn-danger btn-sm" routerLink="/auth">Salir</button>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
